In [1]:
import pandas as pd #---> pandas
import numpy as np #---> numpy
#creeremo le matrici e le salveremo come file .mtx. Sono matrici sparse che occupano pochi mega
from scipy.io import mmread #---> per leggere file .mtx
from scipy.io import mmwrite #---> per creare file .mtx
from scipy.sparse import coo_matrix ##---> serve per creare file .mtx

In [2]:
# Prima occhiata ai dati di geoc_app

In [3]:
dati = pd.read_csv('geoc_app.txt',delimiter=',')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
dati.appln_id

0                   1
1                   2
2                   2
3                  37
4                  58
5                  58
6                  76
7                  98
8                 104
9                 111
10                112
11                113
12                139
13                143
14                144
15                144
16                149
17                151
18                159
19                161
20                164
21                183
22                184
23                186
24                193
25                199
26                200
27                204
28                205
29                205
              ...
23904016    506345866
23904017    506345916
23904018    506345942
23904019    506345942
23904020    506345960
23904021    506346039
23904022    506346039
23904023    506346039
23904024    506346039
23904025    506346039
23904026    506346900
23904027    506347520
23904028    506348152
23904029    506348152
23904030    506348658
23904031    506348684
23904032    506348737
23904033    506348955
23904034    506348955
23904035    506349036
23904036    506349036
23904037    506349045
23904038    506349092
23904039    506349206
23904040    506349214
23904041    506349341
23904042    506349906
23904043    506350477
23904044    506416619
23904045    506416619
Name: appln_id, Length: 23904046, dtype: int64

In [5]:
dati1 = np.asarray(dati.appln_id)

In [6]:
dati1.shape

(23904046,)

In [7]:
final_dati = list(dict.fromkeys(dati1))

In [8]:
final_dati = np.asarray(final_dati)

In [9]:
final_dati.shape

(18983990,)

In [10]:
final_dati[18983990-1]

506416619

### Number of countries

In [11]:
dati.name_0

0                  Finland
1           United Kingdom
2           United Kingdom
3                  Germany
4                    Italy
5                  Germany
6              Switzerland
7                  Germany
8                  Germany
9              Switzerland
10                 Germany
11                  Canada
12                 Germany
13             Switzerland
14                 Germany
15                 Germany
16                 Germany
17                 Germany
18                 Germany
19             Switzerland
20                  France
21                 Austria
22                 Germany
23                 Germany
24          Czech Republic
25                 Germany
26                 Austria
27                 Austria
28                 Austria
29                 Germany
                 ...
23904016     United States
23904017     United States
23904018     United States
23904019     United States
23904020     United States
23904021     United States
23904022     United States
23904023     United States
23904024     United States
23904025     United States
23904026     United States
23904027     United States
23904028     United States
23904029     United States
23904030     United States
23904031     United States
23904032     United States
23904033     United States
23904034     United States
23904035            Israel
23904036            Israel
23904037     United States
23904038     United States
23904039     United States
23904040     United States
23904041     United States
23904042     United States
23904043     United States
23904044     United States
23904045     United States
Name: name_0, Length: 23904046, dtype: object

In [12]:
paesi = np.asarray(dati.name_0)

In [13]:
final_paesi = list(dict.fromkeys(paesi))

In [14]:
final_paesi = np.asarray(final_paesi)

In [15]:
final_paesi.shape

(55,)

In [16]:
final_paesi

array(['Finland', 'United Kingdom', 'Germany', 'Italy', 'Switzerland',
       'Canada', 'France', 'Austria', 'Czech Republic', 'Denmark',
       'Belgium', 'United States', 'Liechtenstein', 'Luxembourg',
       'Netherlands', 'Hungary', 'Japan', 'Russia', 'Sweden',
       'South Korea', 'nan', 'Ireland', 'Israel', 'Australia', 'Norway',
       'Slovenia', 'Spain', 'China', 'New Zealand', 'India', 'Malta',
       'Greece', 'Turkey', 'Portugal', 'Slovakia', 'Brazil',
       'South Africa', 'Bulgaria', 'Poland', 'Jersey', 'Romania',
       'Croatia', 'Isle of Man', 'Lithuania', 'Latvia', 'Estonia',
       'Mexico', 'Iceland', 'Monaco', 'Chile', 'Guernsey', 'San Marino',
       'Gibraltar', 'Andorra', 'Åland'], dtype='<U14')

### Number of regions

In [17]:
dati.name_1

0              Southern Finland
1                       England
2                       England
3                        Bayern
4                     Lombardia
5                        Hessen
6                  Sankt Gallen
7                       Hamburg
8                        Bayern
9                     Nidwalden
10            Baden-Württemberg
11                      Ontario
12          Nordrhein-Westfalen
13                       Zürich
14            Baden-Württemberg
15            Baden-Württemberg
16                      Sachsen
17                       Bayern
18                Niedersachsen
19                       Zürich
20                Île-de-France
21                   Vorarlberg
22            Baden-Württemberg
23            Baden-Württemberg
24                Kraj Vysočina
25          Nordrhein-Westfalen
26                         Wien
27                   Vorarlberg
28                         Wien
29            Baden-Württemberg
                   ...
23904016             Washington
23904017                 Kansas
23904018             California
23904019             California
23904020             Washington
23904021             Washington
23904022             Washington
23904023             Washington
23904024             Washington
23904025              Louisiana
23904026             California
23904027             Washington
23904028         North Carolina
23904029         North Carolina
23904030          Massachusetts
23904031               Illinois
23904032             California
23904033                 Nevada
23904034             Washington
23904035               Tel Aviv
23904036               HaMerkaz
23904037             California
23904038             California
23904039                 Nevada
23904040             Washington
23904041                 Nevada
23904042                  Texas
23904043             California
23904044             California
23904045                  Texas
Name: name_1, Length: 23904046, dtype: object

In [18]:
regioni = np.asarray(dati.name_1)

In [19]:
final_regioni = list(dict.fromkeys(regioni))

In [20]:
final_regioni = np.asarray(final_regioni)

In [21]:
final_regioni.shape

(928,)

### Number of cities

In [24]:
dati.city

0                           Espoo
1            South Cambridgeshire
2                          London
3                        Würzburg
4                          Milano
5                       Darmstadt
6                      Wittenbach
7                         Hamburg
8             Klingenberg a. Main
9                       Hergiswil
10                    Rottenacker
11                       Waterloo
12                          Essen
13                        Thalwil
14           Freiburg im Breisgau
15              Rietheim-Weilheim
16                        Dresden
17                       Gilching
18          Bad Münder am Deister
19                     Regensdorf
20                     Courbevoie
21                         Lochau
22                       Teningen
23                      Weinsberg
24               Žďár nad Sázavou
25                      Remscheid
26                           Wien
27                         Lochau
28                           Wien
29                    Schwaikheim
                    ...
23904016                     King
23904017                  Johnson
23904018              Santa Clara
23904019              Santa Clara
23904020                     King
23904021                     King
23904022                     King
23904023                     King
23904024                     King
23904025                 Ouachita
23904026                San Mateo
23904027                     King
23904028                   Durham
23904029                     Wake
23904030                Middlesex
23904031                     Cook
23904032              Santa Clara
23904033                   Washoe
23904034                     King
23904035                 Tel Aviv
23904036                 HaMerkaz
23904037                San Mateo
23904038              Santa Clara
23904039                   Washoe
23904040                     King
23904041                   Washoe
23904042                   Travis
23904043              Santa Clara
23904044            San Francisco
23904045                    Bexar
Name: city, Length: 23904046, dtype: object

In [25]:
cities=np.asarray(dati.city)

In [26]:
final_cities = list(dict.fromkeys(cities))

In [27]:
final_cities = np.asarray(final_cities)

In [28]:
final_cities.shape

(45987,)

# Operazioni preliminari di check dei dati e filtraggio

#### Ho gli appln_id associati alle città di appartenenza, ai codici tecnologici e all'anno

In [2]:
info = pd.read_csv('geoc_app.txt',delimiter=',')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#aggiungo colonna con solo gli anni
info['year'] = info['filing_date'].astype(str).str[0:4]

In [4]:
info

,appln_id,patent_office,filing_date,lat,lng,ctry_code,name_0,name_1,name_2,name_3,name_4,name_5,city,coord_source,source,type,year
0,1,EP,2000-02-15,60.1704,24.827900,FI,Finland,Southern Finland,Uusimaa,Helsinki,Espoo,NaN,Espoo,geolocalization,1,continual,2000
1,2,EP,1992-12-02,52.1173,0.224611,GB,United Kingdom,England,Cambridgeshire,South Cambridgeshire,NaN,NaN,South Cambridgeshire,geolocalization,1,continual,1992
2,2,EP,1992-12-02,51.5228,-0.146988,GB,United Kingdom,England,Greater London,Westminster,NaN,NaN,London,geolocalization,1,continual,1992
3,37,EP,2000-12-01,49.8077,9.879120,DE,Germany,Bayern,W�rzburg (Kreisfreie Stadt),Würzburg,Würzburg,NaN,Würzburg,geolocalization,1,priority,2000
4,58,EP,2004-10-01,45.4667,9.183010,IT,Italy,Lombardia,Milano,Milano,NaN,NaN,Milano,geolocalization,1,priority,2004
5,58,EP,2004-10-01,49.8741,8.660710,DE,Germany,Hessen,Darmstadt,Darmstadt,Darmstadt,NaN,Darmstadt,geolocalization,1,priority,2004
6,76,EP,2005-06-15,47.4665,9.380960,CH,Switzerland,Sankt Gallen,Sankt Gallen,Wittenbach,NaN,NaN,Wittenbach,geolocalization,1,priority,2005
7,98,EP,2006-08-30,53.5692,9.927590,DE,Germany,Hamburg,Hamburg,Hamburg,Hamburg,NaN,Hamburg,geolocalization,1,priority,2006
8,104,EP,2006-04-24,49.7818,9.170920,DE,Germany,Bayern,Miltenberg,Klingenberg a. Main,Klingenberg a. Main,NaN,Klingenberg a. Main,geolocalization,1,priority,2006
9,111,EP,2006-12-05,46.9884,8.313160,CH,Switzerland,Nidwalden,Nidwalden,Hergiswil,NaN,NaN,Hergiswil,geolocalization,1,single,2006
10,112,EP,2006-12-14,48.2327,9.696420,DE,Germany,Baden-Württemberg,Alb-Donau-Kreis,Verwaltungsgemeinschaft Munderkingen,Rottenacker,NaN,Rottenacker,geolocalization,1,priority,2006
11,113,EP,2006-02-07,43.4749,-80.539800,CA,Canada,Ontario,Waterloo,Waterloo,NaN,NaN,Waterloo,geolocalization,1,priority,2006
12,139,EP,2007-03-12,51.4465,7.021420,DE,Germany,Nordrhein-Westfalen,Essen,Essen,Essen,NaN,Essen,geolocalization,1,priority,2007
13,143,EP,2007-07-04,47.2890,8.570680,CH,Switzerland,Zürich,Horgen,Thalwil,NaN,NaN,Thalwil,geolocalization,1,priority,2007
14,144,EP,2007-07-20,48.0200,7.868460,DE,Germany,Baden-Württemberg,Freiburg im Breisgau,Freiburg im Breisgau,Freiburg im Breisgau,NaN,Freiburg im Breisgau,geolocalization,1,priority,2007
15,144,EP,2007-07-20,48.0203,8.774070,DE,Germany,Baden-Württemberg,Tuttlingen,Tuttlingen,Rietheim-Weilheim,NaN,Rietheim-Weilheim,geolocalization,1,priority,2007
16,149,EP,2007-10-15,51.0563,13.775900,DE,Germany,Sachsen,Dresden,Dresden,Dresden,NaN,Dresden,geolocalization,1,priority,2007
17,151,EP,2007-12-17,48.0930,11.305600,DE,Germany,Bayern,Starnberg,Gilching,Gilching,NaN,Gilching,geolocalization,1,priority,2007
18,159,EP,2007-11-21,52.2364,9.405790,DE,Germany,Niedersachsen,Hameln-Pyrmont,Bad Münder am Deister,Bad Münder am Deister,NaN,Bad Münder am Deister,geolocalization,1,priority,2007
19,161,EP,2007-12-03,47.4385,8.470620,CH,Switzerland,Zürich,Dielsdorf,Regensdorf,NaN,NaN,Regensdorf,geolocalization,1,priority,2007
20,164,EP,2007-11-12,48.8895,2.250360,FR,France,Île-de-France,Hauts-de-Seine,Nanterre,Courbevoie,Courbevoie,Courbevoie,geolocalization,1,continual,2007
21,183,EP,2008-04-25,47.5269,9.750440,AT,Austria,Vorarlberg,Bregenz,Lochau,NaN,NaN,Lochau,geolocalization,1,priority,2008
22,184,EP,2008-05-06,48.1151,7.792030,DE,Germany,Baden-Württemberg,Emmendingen,Emmendingen,Teningen,NaN,Teningen,geolocalization,1,priority,2008
23,186,EP,2008-05-16,49.1533,9.273830,DE,Germany,Baden-Württemberg,Heilbronn,Raum Weinsberg,Weinsberg,NaN,Weinsberg,geolocalization,1,single,2008
24,193,EP,2008-05-23,49.5863,15.932700,CZ,Czech Republic,Kraj Vysočina,Žďár nad Sázavou,NaN,NaN,NaN,Žďár nad Sázavou,geolocalization,1,priority,2008
25,199,EP,2008-05-30,51.2193,7.235960,DE,Germany,Nordrhein-Westfalen,Remscheid,Remscheid,Remscheid,NaN,Remscheid,geolocalization,1,priority,2008
26,200,EP,2008-05-30,48.1845,16.348700,AT,Austria,Wien,Wien,Meidling,NaN,NaN,Wien,geolocalization,1,single,2008
27,204,EP,2008-06-02,47.5269,9.750440,AT,Austria,Vorarlberg,Bregenz,Lochau,NaN,NaN,Lochau,geolocalization,1,priority,2008
28,205,EP,2008-06-02,48.2700,16.422400,AT,Austria,Wien,Wien,Floridsdorf,NaN,NaN,Wien,geolocalization,1,single,2008
29,205,EP,2008-06-02,48.8676,9.356150,DE,Germany,Baden-Württemberg,Rems-Murr-Kreis,Winnenden,Schwaikheim,NaN,Schwaikheim,geolocalization,1,single,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23904016,506345866,US,2014-11-17,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2014
23904017,506345916,US,2014-11-12,38.9822,-94.670800,US,United States,Kansas,Johnson,NaN,NaN,NaN,Johnson,geolocalization,1,single,2014
23904018,506345942,US,2013-09-10,37.3861,-122.084000,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2013
23904019,506345942,US,2013-09-10,37.4419,-122.143000,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2013
23904020,506345960,US,2014-11-18,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2014
23904021,506346039,US,2012-08-20,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2012
23904022,506346039,US,2012-08-20,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2012
23904023,506346039,US,2012-08-20,47.7584,-122.250000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2012
23904024,506346039,US,2012-08-20,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2012
23904025,506346039,US,2012-08-20,32.5093,-92.119300,US,United States,Louisiana,Ouachita,NaN,NaN,NaN,Ouachita,geolocalization,1,single,2012
23904026,506346900,US,2014-07-30,37.4852,-122.236000,US,United States,California,San Mateo,NaN,NaN,NaN,San Mateo,geolocalization,1,single,2014
23904027,506347520,US,2014-12-18,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2014
23904028,506348152,US,2008-09-18,35.9940,-78.898600,US,United States,North Carolina,Durham,NaN,NaN,NaN,Durham,geolocalization,1,single,2008
23904029,506348152,US,2008-09-18,35.7796,-78.638200,US,United States,North Carolina,Wake,NaN,NaN,NaN,Wake,geolocalization,1,single,2008
23904030,506348658,US,2014-12-31,42.2287,-71.522600,US,United States,Massachusetts,Middlesex,NaN,NaN,NaN,Middlesex,geolocalization,1,single,2014
23904031,506348684,US,2014-03-14,41.8781,-87.629800,US,United States,Illinois,Cook,NaN,NaN,NaN,Cook,geolocalization,1,priority,2014
23904032,506348737,US,2014-11-07,37.3688,-122.036000,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2014
23904033,506348955,US,2014-05-30,39.5296,-119.814000,US,United States,Nevada,Washoe,NaN,NaN,NaN,Washoe,geolocalization,1,single,2014
23904034,506348955,US,2014-05-30,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2014
23904035,506349036,US,2012-08-29,32.0853,34.781800,IL,Israel,Tel Aviv,NaN,NaN,NaN,NaN,Tel Aviv,geolocalization,1,single,2012
23904036,506349036,US,2012-08-29,32.2276,34.922100,IL,Israel,HaMerkaz,NaN,NaN,NaN,NaN,HaMerkaz,geolocalization,1,single,2012
23904037,506349045,US,2013-01-11,37.4852,-122.236000,US,United States,California,San Mateo,NaN,NaN,NaN,San Mateo,geolocalization,1,single,2013
23904038,506349092,US,2014-03-19,37.3861,-122.084000,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2014
23904039,506349206,US,2014-07-01,39.5296,-119.814000,US,United States,Nevada,Washoe,NaN,NaN,NaN,Washoe,geolocalization,1,single,2014
23904040,506349214,US,2012-11-29,47.6062,-122.332000,US,United States,Washington,King,NaN,NaN,NaN,King,geolocalization,1,single,2012
23904041,506349341,US,2013-09-27,39.5296,-119.814000,US,United States,Nevada,Washoe,NaN,NaN,NaN,Washoe,geolocalization,1,single,2013
23904042,506349906,US,2014-01-31,30.2672,-97.743100,US,United States,Texas,Travis,NaN,NaN,NaN,Travis,geolocalization,1,single,2014
23904043,506350477,US,2013-10-15,37.3861,-122.084000,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2013
23904044,506416619,US,2014-09-14,37.7749,-122.419000,US,United States,California,San Francisco,NaN,NaN,NaN,San Francisco,geolocalization,4,single,2014
23904045,506416619,US,2014-09-14,29.4241,-98.493600,US,United States,Texas,Bexar,NaN,NaN,NaN,Bexar,geolocalization,4,single,2014

In [5]:
#Per filtrare e vedere se ci sono problemi
info[(info['city']=='Tokyo') & (info['year']=='1980')]

,appln_id,patent_office,filing_date,lat,lng,ctry_code,name_0,name_1,name_2,name_3,name_4,name_5,city,coord_source,source,type,year
22018,116896,EP,1980-10-30,35.7368,139.723,JP,Japan,Tokyo,Toshima,NaN,NaN,NaN,Tokyo,geolocalization,1,priority,1980
28950,185835,EP,1980-06-25,35.6399,139.704,JP,Japan,Tokyo,Meguro,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
74505,587902,AT,1980-02-19,35.5665,139.682,JP,Japan,Tokyo,Ōta,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
97046,2099858,AU,1980-06-30,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,3,priority,1980
97050,2100165,AU,1980-06-30,35.5904,139.746,JP,Japan,Tokyo,Chūō,NaN,NaN,NaN,Tokyo,geonames,3,tech_rel,1980
97226,2134812,AU,1980-09-11,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,2,tech_rel,1980
97293,2147306,AU,1980-10-13,35.6169,139.693,JP,Japan,Tokyo,Meguro,NaN,NaN,NaN,Tokyo,geonames,3,priority,1980
97326,2152470,AU,1980-10-22,35.7216,139.751,JP,Japan,Tokyo,Bunkyō,NaN,NaN,NaN,Tokyo,geolocalization,3,tech_rel,1980
146266,3632173,BR,1980-11-28,35.6712,139.747,JP,Japan,Tokyo,Chiyoda,NaN,NaN,NaN,Tokyo,geolocalization,3,tech_rel,1980
152141,4114987,CA,1980-02-18,35.6918,139.762,JP,Japan,Tokyo,Chiyoda,NaN,NaN,NaN,Tokyo,geolocalization,4,priority,1980
152349,4123964,CA,1980-07-18,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,2,tech_rel,1980
152351,4124025,CA,1980-07-18,35.6880,139.694,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
152372,4125482,CA,1980-08-15,35.6918,139.762,JP,Japan,Tokyo,Chiyoda,NaN,NaN,NaN,Tokyo,geolocalization,4,priority,1980
152374,4125634,CA,1980-08-18,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,3,tech_rel,1980
152380,4125875,CA,1980-08-21,35.7113,139.815,JP,Japan,Tokyo,Sumida,NaN,NaN,NaN,Tokyo,geolocalization,4,tech_rel,1980
152528,4131521,CA,1980-11-25,35.6712,139.747,JP,Japan,Tokyo,Chiyoda,NaN,NaN,NaN,Tokyo,geolocalization,3,tech_rel,1980
152533,4131593,CA,1980-11-26,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,3,priority,1980
220245,5849466,CH,1980-02-13,35.6184,139.728,JP,Japan,Tokyo,Shinagawa,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
220859,5856750,CH,1980-02-20,35.6092,139.730,JP,Japan,Tokyo,Shinagawa,NaN,NaN,NaN,Tokyo,geolocalization,4,tech_rel,1980
224164,5899549,CH,1980-04-02,35.6995,139.765,JP,Japan,Tokyo,Bunkyō,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
227158,5942395,CH,1980-05-17,35.6627,139.608,JP,Japan,Tokyo,Setagaya,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
227526,5947982,CH,1980-05-22,35.6363,139.730,JP,Japan,Tokyo,Shinagawa,NaN,NaN,NaN,Tokyo,geonames,4,single,1980
227714,5951694,CH,1980-05-28,35.6806,139.779,JP,Japan,Tokyo,Chūō,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
229305,6002251,CH,1980-07-30,35.7076,139.744,JP,Japan,Tokyo,Bunkyō,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
229479,6011729,CH,1980-08-14,35.7113,139.815,JP,Japan,Tokyo,Sumida,NaN,NaN,NaN,Tokyo,geolocalization,4,tech_rel,1980
229803,6035343,CH,1980-09-18,35.6399,139.704,JP,Japan,Tokyo,Meguro,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
819237,10466186,DE,1980-01-07,35.5665,139.682,JP,Japan,Tokyo,Ōta,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
820032,10470083,DE,1980-02-06,35.5771,139.709,JP,Japan,Tokyo,Ōta,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
820070,10470178,DE,1980-02-06,35.5665,139.682,JP,Japan,Tokyo,Ōta,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
820103,10470345,DE,1980-02-07,35.5665,139.682,JP,Japan,Tokyo,Ōta,NaN,NaN,NaN,Tokyo,geolocalization,2,priority,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13337593,48747949,US,1980-12-19,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13337769,48748423,US,1980-12-19,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13339390,48752847,US,1980-12-22,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13340533,48755761,US,1980-12-22,35.6581,139.752,JP,Japan,Tokyo,Minato,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13340534,48755761,US,1980-12-22,35.6581,139.752,JP,Japan,Tokyo,Minato,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13340977,48756927,US,1980-12-23,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13341236,48757714,US,1980-12-23,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13342140,48760386,US,1980-12-24,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13342241,48760637,US,1980-12-24,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13342357,48760915,US,1980-12-24,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13343180,48763624,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13343635,48765059,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13343848,48765722,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13344145,48766918,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13344193,48767064,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13344410,48767671,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13344877,48769088,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,priority,1980
13344950,48769299,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,tech_rel,1980
13345082,48769729,US,1980-12-29,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13345818,48771981,US,1980-12-30,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13345996,48772588,US,1980-12-30,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346239,48773419,US,1980-12-30,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346372,48773787,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346519,48774290,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346984,48775851,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346991,48775868,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13346992,48775868,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13347230,48776632,US,1980-12-31,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980
13432705,49018980,US,1980-03-03,35.6895,139.692,JP,Japan,Tokyo,Nakano,NaN,NaN,NaN,Tokyo,geolocalization,1,priority,1980
13439408,49037513,US,1980-09-05,35.6466,139.653,JP,Japan,Tokyo,Setagaya,NaN,NaN,NaN,Tokyo,geolocalization,1,single,1980

In [6]:
#Seleziono solo 'appln_id','year','city', 'ctry_code'
to_delite_nan = info[['appln_id','year','city', 'ctry_code']]

In [7]:
# tolgo i Nan
to_delite_nan = to_delite_nan.dropna()
# elimino i duplicati
to_delite_nan = to_delite_nan.drop_duplicates(subset='appln_id')

##### ANNO

In [8]:
date = to_delite_nan[['appln_id','year']]
date

           appln_id  year
0                 1  2000
1                 2  1992
3                37  2000
4                58  2004
6                76  2005
7                98  2006
8               104  2006
9               111  2006
10              112  2006
11              113  2006
12              139  2007
13              143  2007
14              144  2007
16              149  2007
17              151  2007
18              159  2007
19              161  2007
20              164  2007
21              183  2008
22              184  2008
23              186  2008
24              193  2008
25              199  2008
26              200  2008
27              204  2008
28              205  2008
30              206  2008
31              207  2008
32              216  2008
33              217  2008
...             ...   ...
23904004  505919544  2013
23904006  505919558  2014
23904008  505919567  2013
23904010  506163552  2003
23904011  506187024  2014
23904012  506187035  2013
23904013  506189429  2012
23904014  506189500  2013
23904015  506345749  2013
23904016  506345866  2014
23904017  506345916  2014
23904018  506345942  2013
23904020  506345960  2014
23904021  506346039  2012
23904026  506346900  2014
23904027  506347520  2014
23904028  506348152  2008
23904030  506348658  2014
23904031  506348684  2014
23904032  506348737  2014
23904033  506348955  2014
23904035  506349036  2012
23904037  506349045  2013
23904038  506349092  2014
23904039  506349206  2014
23904040  506349214  2012
23904041  506349341  2013
23904042  506349906  2014
23904043  506350477  2013
23904044  506416619  2014

[18979280 rows x 2 columns]

##### Città

In [9]:
cities = to_delite_nan.city
cities

0                           Espoo
1            South Cambridgeshire
3                        Würzburg
4                          Milano
6                      Wittenbach
7                         Hamburg
8             Klingenberg a. Main
9                       Hergiswil
10                    Rottenacker
11                       Waterloo
12                          Essen
13                        Thalwil
14           Freiburg im Breisgau
16                        Dresden
17                       Gilching
18          Bad Münder am Deister
19                     Regensdorf
20                     Courbevoie
21                         Lochau
22                       Teningen
23                      Weinsberg
24               Žďár nad Sázavou
25                      Remscheid
26                           Wien
27                         Lochau
28                           Wien
30                        Kißlegg
31                    Holzwickede
32                        München
33                     Gaienhofen
                    ...
23904004                   Washoe
23904006                San Mateo
23904008                   Washoe
23904010                 Campinas
23904011                 Campinas
23904012           São Bartolomeu
23904013              São Caetano
23904014                Lancaster
23904015                Fairfield
23904016                     King
23904017                  Johnson
23904018              Santa Clara
23904020                     King
23904021                     King
23904026                San Mateo
23904027                     King
23904028                   Durham
23904030                Middlesex
23904031                     Cook
23904032              Santa Clara
23904033                   Washoe
23904035                 Tel Aviv
23904037                San Mateo
23904038              Santa Clara
23904039                   Washoe
23904040                     King
23904041                   Washoe
23904042                   Travis
23904043              Santa Clara
23904044            San Francisco
Name: city, Length: 18979280, dtype: object

##### IPC codes

In [10]:
ipc = pd.read_csv('ipcdict.tsv', delimiter='\t', names=['label', 'ipc_code'])
ipc

       label  ipc_code
0        0.0  A01B   1
1        1.0  A01B   3
2        2.0  A01B   5
3        3.0  A01B   7
4        4.0  A01B   9
5        5.0  A01B  11
6        6.0  A01B  13
7        7.0  A01B  15
8        8.0  A01B  17
9        9.0  A01B  19
10      10.0  A01B  21
11      11.0  A01B  23
12      12.0  A01B  25
13      13.0  A01B  27
14      14.0  A01B  29
15      15.0  A01B  31
16      16.0  A01B  33
17      17.0  A01B  35
18      18.0  A01B  37
19      19.0  A01B  39
20      20.0  A01B  41
21      21.0  A01B  43
22      22.0  A01B  45
23      23.0  A01B  47
24      24.0  A01B  49
25      25.0  A01B  51
26      26.0  A01B  59
27      27.0  A01B  61
28      28.0  A01B  63
29      29.0  A01B  67
...      ...       ...
7588  7482.0  H05B  41
7589  7483.0  H05B  43
7590     NaN  H05B  45
7591     NaN  H05B  46
7592     NaN  H05B  47
7593  7484.0  H05C   1
7594  7485.0  H05C   3
7595  7486.0  H05F   1
7596  7487.0  H05F   3
7597  7488.0  H05F   7
7598  7489.0  H05G   1
7599  7490.0  H05G   2
7600  7491.0  H05H   1
7601  7492.0  H05H   3
7602  7493.0  H05H   5
7603  7494.0  H05H   6
7604  7495.0  H05H   7
7605  7496.0  H05H   9
7606  7497.0  H05H  11
7607  7498.0  H05H  13
7608  7499.0  H05H  15
7609  7500.0  H05K   1
7610  7501.0  H05K   3
7611  7502.0  H05K   5
7612  7503.0  H05K   7
7613  7504.0  H05K   9
7614  7505.0  H05K  10
7615  7506.0  H05K  11
7616  7507.0  H05K  13
7617  7508.0  H99Z  99

[7618 rows x 2 columns]

In [11]:
tecnologie = ipc.ipc_code
tecnologie

0       A01B   1
1       A01B   3
2       A01B   5
3       A01B   7
4       A01B   9
5       A01B  11
6       A01B  13
7       A01B  15
8       A01B  17
9       A01B  19
10      A01B  21
11      A01B  23
12      A01B  25
13      A01B  27
14      A01B  29
15      A01B  31
16      A01B  33
17      A01B  35
18      A01B  37
19      A01B  39
20      A01B  41
21      A01B  43
22      A01B  45
23      A01B  47
24      A01B  49
25      A01B  51
26      A01B  59
27      A01B  61
28      A01B  63
29      A01B  67
          ...
7588    H05B  41
7589    H05B  43
7590    H05B  45
7591    H05B  46
7592    H05B  47
7593    H05C   1
7594    H05C   3
7595    H05F   1
7596    H05F   3
7597    H05F   7
7598    H05G   1
7599    H05G   2
7600    H05H   1
7601    H05H   3
7602    H05H   5
7603    H05H   6
7604    H05H   7
7605    H05H   9
7606    H05H  11
7607    H05H  13
7608    H05H  15
7609    H05K   1
7610    H05K   3
7611    H05K   5
7612    H05K   7
7613    H05K   9
7614    H05K  10
7615    H05K  11
7616    H05K  13
7617    H99Z  99
Name: ipc_code, Length: 7618, dtype: object

#### Questa operazione è stata fatta una volta per vedere quali codici mancassero nel file ipcdict ma fossero presenti nei dati scaricati

In [201]:
#cerco gli ipc non presenti in appln_check ma in ipcdict
ipc_mancanti = prova[~prova.ipc_6.isin(ipc.ipc_code)]

### Check appln_id scaricati; elementi_mancanti è la lista degli appln_id mancanti

In [ ]:
# concateno tutti i file tls201_appln che tengono conto solo del numero di appln_id scaricato
# (faccio il check con questo perche' nel file ipc un appln_id viene scartato se non ha codici tecnologici)
appln_check = pd.read_csv('tls201_appln0.csv',delimiter=',')
appln_check = appln_check.drop_duplicates(subset='appln_id')
for i in range (1,1087+1):
    app = pd.read_csv('tls201_appln%i.csv' %i,delimiter=',')
    app = app.drop_duplicates(subset='appln_id')
    appln_check = appln_check.append(app, ignore_index=True)
    print(i) #---> e` molto lento ma questo check si fa una volta sola

In [ ]:
appln_check.shape

In [ ]:
# elimino duplicati
appln_check = appln_check.drop_duplicates(subset='appln_id')

In [ ]:
# Elimino da appln_check gli appln_id non presenti in geoc
check = appln_check[appln_check.appln_id.isin(to_delite_nan.appln_id)]

In [ ]:
#cerco gli appln_id non presenti in appln_check ma in geoc
elementi_mancanti = to_delite_nan[~to_delite_nan.appln_id.isin(check.appln_id)]

In [ ]:
# test ---> quelli che ci sono
test = np.unique(check.sort_values(by=['appln_id']).appln_id)
test.shape

## Filtraggio

In [ ]:
# concateno tutti i file con appln_id e codici tecnologici
appln_all = pd.read_csv('tls209_appln_ipc0.csv',delimiter=',')
for i in range (1,1105+1):
    appln_all = appln_all.append(pd.read_csv('tls209_appln_ipc%i.csv' %i,delimiter=','), ignore_index=True)
    # Elimino di volta in volta da appln_all gli appln_id non presenti in geoc, per velocizzare
    appln_all = appln_all[appln_all.appln_id.isin(to_delite_nan.appln_id)]
    print(i)

#### Elimino gli appln_id non presenti in geoc e non presenti in appln_all (alcuni appln_id non hanno codici tecnologici); gestisco codici tecnologici diversi a causa di diverse versioni di ipc

In [44]:
appln_all.shape

(59525451, 7)

In [ ]:
to_delite_nan.appln_id

In [46]:
# Elimino da appln_all gli appln_id non presenti in geoc
prova = appln_all[appln_all.appln_id.isin(to_delite_nan.appln_id)]

In [47]:
prova.shape

(59525379, 7)

In [53]:
prova[prova.appln_id==37]

,appln_id,ipc_class_symbol,ipc_class_level,ipc_version,ipc_value,ipc_position,ipc_gener_auth
55780530,37,B41F 1/00,A,2006-01-01,I,,EP
55780531,37,B41F 1/28,A,2006-01-01,I,,EP
55780532,37,B41F 7/04,A,2006-01-01,I,,EP
55780533,37,B41F 7/10,A,2006-01-01,I,,EP
55780534,37,B41F 7/12,A,2006-01-01,I,,EP
55780535,37,B41F 13/08,A,2006-01-01,I,,EP
55780768,37,B41F 13/10,A,2006-01-01,I,,EP
55780769,37,B41F 13/193,A,2006-01-01,I,F,EP
55780770,37,B41F 13/21,A,2006-01-01,I,,EP
55780771,37,B41F 27/12,A,2006-01-01,I,,EP
55780772,37,B41F 30/02,A,2006-01-01,I,,EP
55780773,37,B41F 30/04,A,2006-01-01,I,,EP
55780774,37,B41N 10/04,A,2006-01-01,N,,EP

In [54]:
to_delite_nan.shape

(18979280, 4)

In [55]:
# Numero di appln_id presenti 9781624
np.unique(prova.appln_id).shape

(18791013,)

In [56]:
# Elimino gli appln_id in geoc che non sono nel file dei codici tecnologici
prova2 = to_delite_nan[to_delite_nan.appln_id.isin(prova.appln_id)]

In [68]:
# Numero di appln_id finali presenti
prova2.shape

(18791013, 5)

In [63]:
#Gli aplln_id finali che ci servono sono 18791013; salvo prova e prova2 su un file per non riconcatenare ancora
#prova.to_csv('ipc_codes_utili.csv',index=False)
#prova2.to_csv('geoc_utili.csv',index=False)

In [12]:
#Se ho già salvato li carico
#File salvati prima dell'ultimo filtraggio (utili se si vuole filtrare in maniera diversa);
#questi sono gli appln_id che sono presenti in entrambi i database.
prova = pd.read_csv('ipc_codes_utili.csv',delimiter=',')
prova2 = pd.read_csv('geoc_utili.csv',delimiter=',')

#### C'è PIù DI UNA VERSIONE DI IPC. COME GESTIRE? ---> passo a 4 digits

In [15]:
np.unique(prova.ipc_version)

array(['2006-01-01', '2007-01-01', '2007-10-01', '2008-01-01',
       '2008-04-01', '2009-01-01', '2010-01-01', '2011-01-01',
       '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01',
       '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
       '2020-01-01', '2021-01-01'], dtype=object)

In [ ]:
'''(06/09/2021)
Avendo diverse versioni di ipc, alcuni codici tecnologici vanno gestiti e rivisti a mano.
La maggior parte di questo problema tuttavia e` risolvibile passando a 4 digits:
con il cambiare delle versioni vengono aggiunti altri codici relativi ad una categoria a 4 digit
(ad esempio nella versione del 2006 non e` presente il codice B31B 160, mentre e` presente in quella del 2021),
questi "codici mancanti" li aggiungo a mano nel file "ipcdict.tsv". Passando poi a 4 digit, il "rumore" relativo a
tale aggiunta viene eliminato.
Ci sono pero` anche codici a 4 digits che vengono aggiunti con il tempo. Ad esempio nella versione del 2006 e`
presente il codice F24J ---> PRODUCTION OR USE OF HEAT NOT OTHERWISE PROVIDED FOR (vediamo che e` un codice
"generico"); nella versione 2021, F24J non e` presente, ma ci sono i codici F24S, F24T ed F24V.
Ora, F24J si divide in F24J 1, F24J 2 ed F24J 3 rispettivamente "Apparatus or devices using heat produced by
exothermal chemical reactions other than by combustion", "Use of solar heat, e.g. solar heat collectors" ed
'Other production or use of heat, not derived from combustion'.
Consideriamo i primi due.
Questi codici, della versione del 2006, combaciano rispettivamente con i codici F24V 30 ed F24S (versione 2021)
(quest'ultimo codice presenta varie sottocategorie ma non e` un problema poiche` porremo tutto a 4 digit (ed
ecco che tale soluzione diviene ancora utile)). Quindi, nel file "ipcdict.tsv" sostituiremo F24J 1 ed F24J 2
(versioni del 2006) con F24V 30 ed F24S (versioni del 2021). In particolare di F24S metteremo gli ultimi due
6 digit scegliendoli a caso tra quelli esistenti (ricordiamo che concateneremo tutto a 4, quindi non e` un
problema). La stessa sostituzione andra` fatta nella variabile appln_all/prova.
Questo lavoro andra` fatto per ogni codice tecnologico a 4 digits diverso da versione a versione.

Alcuni codici vanno gestiti diversamente: F24J 3 (versione 2006) -> 'Other production or use of heat,
not derived from combustion', ha come sottoclassi F24J 3/06 'using natural heat' ed F24J 3/08 'using geothermal
heat'. Questi codici (ad 8 digit) vanno sostituiti rispettivamente con (versioni 2021) F24V ed F24T
(non importano gli ultimi 2 digit (o meglio, 4)).
Apportiamo le modifiche riguardanti gli 8 digit ora, successivamente elimineremo gli ultimi due digit e rimarremo
a 6. Se un appln_id non ha gli ultimi due degli 8 digit gli assegno successivamente F24V 99
'Subject matter not provided for in other main groups of this subclass' (la piu` generica)

OSSERVAZIONE DEL GIORNO DOPO(07/09/2021): Alla fine, con il fatto che porremo tutto a 4 digit, gli unici
"cambiamenti a mano" fatti sono stati solo quelli descritti sopra

OSSERVAZIONE DEL GIORNO (08/09/2021): alcuni codici hanno solo 4 digit. A questi aggiungiamo gli ultimi due
digits. Tuttavia, se quel codice è F24J (versione 2006) lo elimino perché non abbiamo abbastanza info per
assegnargli altri codici.
È presente un solo codice C13J (che non è presente nella versione 2021 di patstat). Lo elimino'''

In [13]:
#Sostituzioni descritte
prova = prova.replace({'ipc_class_symbol': {'F24J   3/06':'F24V  30', 'F24J   3/08':'F24T  10'}})
#Eliminazione dei codici a soli 4 digit F24J
prova = prova[prova.ipc_class_symbol != 'F24J']
prova = prova[prova.ipc_class_symbol != 'C13J']

In [14]:
#Alcuni codici tecnologici presentano 6 digit + 2 (un esempio è G01J 1/44); devo eliminare il +2
#(nell'esempio, il /44). In questo modo però allo stesso appln_id potrebbero venire associati più volte codici
#uguali; devo correggere anche questo
prova['ipc_6'] = prova['ipc_class_symbol'].astype(str).str[0:8] #---> aggiungo una colonna con solo i primi 6 digit
prova = prova.drop_duplicates(subset=['appln_id','ipc_6']) #---> seconda correzione

In [17]:
#Alcuni appln_id hanno solo 4 digit. Noi lavoreremo a 4 digits alla fine, pertanto associo a questi gli ultimi due
#digits a caso (esistenti) e poi, quando concatenerò a 4, il problema sarà risolto.
prova = prova.reset_index(drop=True) #---> resetto gli indici
array_da_cambiare = np.where(prova.ipc_6.str.len()==4)[0] #---> array dove abbiamo solo 4 digit
tec_4dig = tecnologie.str[0:4] #in 'tecnologia' considero solo i primi 4 digit
prova_da_cambiare = prova.ipc_6[array_da_cambiare].reset_index(drop=True) #---> dove sono i codici tecnologici a
                                                                          #     4 digit in 'prova'

In [ ]:
# Seleziono il primo array in 'tecnologie' dove 'prova_da_cambiare' è uguale ai primi 4 digit di 'tecnologie'
where_da_cambiare = []
for k in range (0,array_da_cambiare.shape[0]):
    where_da_cambiare.append(np.where(tec_4dig==prova_da_cambiare[k])[0][0])

In [ ]:
#Scambio il codice a 4 digit con il relativo a 6
prova.loc[array_da_cambiare,'ipc_6'] = tecnologie[where_da_cambiare].to_numpy()

In [39]:
#Nuovo numero di appln_id utilizzabili dopo le ultime correzioni (18790885)
np.unique(prova.appln_id).shape

(18790885,)

In [40]:
#correggo il numero anche nel file prova2
prova2 = to_delite_nan[to_delite_nan.appln_id.isin(prova.appln_id)]
prova2.shape

(18790885, 4)

#### Cambi relativi ai 6 digit, dopo aver eliminato gli ultimi due degli 8 totali

In [41]:
# Cambi da fare nel file 'prova' a 6 digit
#1) F24J 1 -> F24V 30; 2) F24J 2 -> F24S 10 (ultimi due digit casuali) 3) F24J 3 -> F24V 99
prova = prova.replace({'ipc_6': {'F24J   1':'F24V  30', 'F24J   2':'F24S  10', 'F24J   3':'F24V  99'}})

#### Salvataggio dei dati filtrati

In [42]:
#prova.to_csv('ipc_codes_utili_FINALI.csv',index=False)
#prova2.to_csv('geoc_utili_FINALI.csv',index=False)

# Creazione matrici

In [269]:
#Richiamo file utili
prova = pd.read_csv('ipc_codes_utili_FINALI.csv',delimiter=',')
prova2 = pd.read_csv('geoc_utili_FINALI.csv',delimiter=',')

In [270]:
anni = np.unique(prova2.year) 
anni.shape #---> 35 matrici totali (35 anni)

(35,)

In [271]:
#codice usato per salvare la lista finale delle città:
#prova2.drop_duplicates(subset='city').sort_values(by=['city']).city.to_csv('cities_list.csv',index=False)

città = pd.read_csv('cities_list.csv',delimiter=',', index_col=False, header=None)
città = np.unique(np.asarray(città))
città.shape #---> 42225 città totali

(42225,)

In [272]:
tecnologie.shape, np.unique(tecnologie.str[0:4]).shape #---> 7618 codici tecnologici totali e 650 a 4 digit

((7618,), (650,))

In [333]:
#anni, città e tecnologie sono definite in precedenza
df_ = pd.DataFrame(index=città, columns=tecnologie) #---> definisco dataframe con città e tecnologie
#anni.shape[0]
for i in range(0,anni.shape[0]): #---> per ogni anno creo una matrice (totale 35 matrici)
    geoc_anno = prova2[prova2.year==anni[i]] #---> seleziono un anno
    tec_anno = prova[prova.appln_id.isin(geoc_anno.appln_id)] #---> seleziono gli appln_id relativi a quell'anno
    df_ = pd.DataFrame(index=città, columns=tecnologie)    
    df_ = df_.fillna(0) #---> definisco tutti 0s nella matrice
    #sostituisco l'appln_id in tec_anno con la relativa città
    tec_anno['appln_id'] = tec_anno['appln_id'].map(geoc_anno.set_index('appln_id')['city'])
    per_matrice = tec_anno[['appln_id','ipc_6']] #---> seleziono solo città e codice tecnologico
    per_matrice = per_matrice.rename(columns={'appln_id':'city'}) #---> rinomino
    #riempio le matrici
    for j in range (0, len(per_matrice)):
        df_.loc[np.array(per_matrice[j:j+1].city)[0]][np.array(per_matrice[j:j+1].ipc_6)[0]] += 1
    #SALVO
    #mmwrite('city_tec_mtx_anno%i.mtx' %anni[i], coo_matrix(df_))
    print(anni[i]) #---> per vedere a che punto siamo

/usr/lib/python3/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

#### Comprimo a 4 digit

In [334]:
num_tec = np.unique(tecnologie.str[0:4]).shape[0]
for j in range(0,anni.shape[0]):
    V = mmread('city_tec_mtx_anno%s.mtx'%anni[j]).todense()
    y = 0
    VTOT = np.matrix(np.zeros((V.shape[0],num_tec)))
    VTOT[:,y] = V[:,0]
    time = tecnologie.str[0:4][0]
    for i in range (1, tecnologie.shape[0]):
        if tecnologie.str[0:4][i] == time:
            VTOT[:,y] = VTOT[:,y] + V[:,i]
        else:
            y = y+1
            time = tecnologie.str[0:4][i]
            VTOT[:,y] = V[:,i]
    mmwrite('city_tec_mtx_4digit_anno%s.mtx' %anni[j], coo_matrix(VTOT))
    print(anni[j])

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014

In [54]:
#salvo lista tecnologie a 4 digit
#np.unique(tecnologie.str[0:4]).to_csv('codici_tecnologici_4digit.csv',index=False)

35

#### Check: Devono combaciare check_matrici e per_matrice

In [ ]:
AO = 2010
geoc_anno = prova2[prova2.year==AO] #---> seleziono un anno
tec_anno = prova[prova.appln_id.isin(geoc_anno.appln_id)] #---> seleziono gli appln_id relativi a quell'anno
#sostituisco l'appln_id in tec_anno con la relativa città
tec_anno['appln_id'] = tec_anno['appln_id'].map(geoc_anno.set_index('appln_id')['city'])
per_matrice = tec_anno[['appln_id','ipc_6']] #---> seleziono solo città e codice tecnologico
per_matrice = per_matrice.rename(columns={'appln_id':'city'})

In [ ]:
len(per_matrice[per_matrice['city']=='Seoul'][per_matrice['ipc_6']=='G11B  20'])

In [ ]:
check_matrici = mmread('city_tec_mtx_anno%i.mtx' %AO).todense()
check_matrici[np.where(città=='Seoul'),np.where(tecnologie=='G11B  20')]

# That's all folks!!